body {
    font-family: Georgia, Times New Roman;
    background-color: #ffffff ;
    color: #333;
/*     color: #dcdcdc; */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    border-bottom: 2px solid #444;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h1 {
    color: #1e90ff;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
/*     border-radius: 50%; */
    width: 200px;
    height: 178px;
    margin-right: 20px;
}

.profile .details {
    text-align: left;
}

.icons a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #527bbd;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

h3 {
    color: #527bbd;
    margin-top: 10px;
}
